
@{
    ViewBag.Title = "ASP.NET MVC5 - Full Calendar JQuery Plugin";
    //Layout = "~/Views/Shared/_StyleLayout.cshtml";
}
<div class="row">
    <div class="col-xs-9">
        <div class="box box-primary">
            <div class="box-body">
                <!-- THE CALENDAR -->
                <div id="calendar" class="h-75 w-75"></div>
            </div><!-- /.box-body -->
        </div><!-- /. box -->
    </div><!-- /.col -->
</div>  