
@{
    ViewBag.Title = "Home";
}
<div class="container">
    <div class="col-lg-1">
        <div><iframe id="left" src="~/Home/About"></iframe></div>
        <div>
            <iframe id="right" src="~/Home/Contact"></iframe>
        </div>
    </div>
</div>
